@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    overflow-x: hidden;
    min-height: 100vh;
    min-height: 100dvh;
  }
}
